<html>
<head>
<title> Empleados </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-top: 200px">
  <h1> Lista de Empleados </h1>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
    {% endfor %}
   </ul>
 {% endif %}
<table border="1" class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Detalles</th>
      <th>Eliminar</th>
      <th>Actulizar</th>
   </tr>
  </thead>
  <tbody>
  {% for emp_list in emp %}
  <tr>
    <td>{{ emp_list.emp_name }}</td>
    <td>{{ emp_list.emp_emial }}</td>
    <td>{{ emp_list.emp_mobile }}</td>
    <td>{{ emp_list.emp_address }}</td>
    <td><a href="{% url 'detailEmp' emp_list.id %}">Ver</a></td>
    <td><a href="{% url 'deleteEmp' emp_list.id %}">Eliminar</a></td>
    <td><a href="{% url 'updateEmp' emp_list.id %}">Actualizar</a></td>
  </tr>
  {% endfor %}
  </tbody>
 </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>